/**
 * Types that sugar-high have:
 *
 * identifier
 * keyword
 * string
 * Class, number and null
 * sign
 * comment
 * jsxliterals
 */

code {
  color: #383a42;
  background: #fafafa;
  font-size: 16px;
  line-height: 1.4em;
  padding: 16px 16px;
}

.sh__identifier {
  color: #0184bb;
}

.sh__keyword {
  color: #a626a4;
}

.sh__string {
  color: #50a14f;
}

.sh__class {
  color: #c18401;
}

.sh__sign {
  color: #383a42
}

.sh__comment {
  color: #a0a1a7;
  font-style: italic;
}

.sh__jsxliterals {
  color: #c91243;
}

.sh__line::before {
  display: inline-block;
  width: 24px;
  content: attr(data-line-number);
  margin-right: 24px;
  text-align: right;
  color: #a4a4a4;
}